*{
	margin:0;
	padding: 0;
}

#nav_bar{
	height: 200px;
	position: sticky;
	top:0px;
	z-index: 999;
}
nav.navbar.navbar-expand-lg.navbar-light {
    margin-top: 10px;
}
.navbar{
	background-color: white;
}

#button1 {
    background: #82b541;
    color: white;
    border-radius: 3px;
    padding: 12px 26px;
    text-align: center;
}

#button1:hover {
    background-color: #70983e;
    color: #ffffff;
}
div#navbarNav {
    text-align: right;
}
#conten-body1 >div >p{
	text-align: center;
}

p#lk1 a:nth-child(1) {
    flex: 1;
}

p#lk1 {
    display: flex;
}
.nav-link{
	color: #565252;
	text-align: center;
}
a.nav-link:hover {
    color: #e9ecef;
    background-color: #adb5bd;
    border-radius: 3px;
}

iframe {
    width: 640px;
    height: 360px;

}
.maketing-conten{
	display: flex;
	margin-top: 36px;
}
.maketing-conten div:nth-child(1){
	flex:3;
}
.maketing-conten div:nth-child(2){
	flex:2;
}
button.btn.btn-sm.btn-danger {
    width: 432px;
    height: 38px;
}

h1 {
    text-align: center;
}
#conten1{
	text-align: center;
}
.maketing-lk{
	display: flex;
	margin-top: 30px;
}
.maketing-lk p:nth-child(1){
	flex: 1
}
.maketing-lk p:nth-child(2){
	flex: 1
}
.maketing-lk p:nth-child(3){
	flex: 1
}
.maketing-lk p:nth-child(4){
	flex: 1
}
.course_conten{
	display: flex;
	text-align: center;
	margin-top: 60px;
	
}
.course_conten div:nth-child(1){
	flex: 1;
}
.course_conten div:nth-child(2){
	flex: 1;
}
.course_conten div:nth-child(3){
	flex: 1;
}
.course_header{
	text-align: center;
	margin-top: 60px;
}

#conten-body2 .container .course_conten .tron {
	text-align: center;
	height: 150px;
	width: 150px;
	border-radius:50%; 
	border: solid 1px #ccd4dc;
	background-color: yellow;
	margin-left: 100px;
	position: relative;
}
#conten-body2 .container .course_conten .tron >i{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-size: 30px;
}
#img{
	background-image:url(../images/bg-intro-agency.jpg);
}
#img{
	width: 100%;
	height:500px;
}
/*
@media (max-width : 992px){
	.course_conten {
		display: block;
	}
}*/
@media only screen and (max-width: 768px) {
	.course_conten {
		display: block;
	}
	iframe{
		max-width: 100%;
	}
}